h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0;
}

body {
  font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #495057;
  line-height: 1.5;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
}

/* navvar css start */
.hero-section {
  height: 700px;
  width: 100%;
  position: relative;
}

.bg-hero {
  width: 100%;
  position: absolute;
  height: 100%;
}

.hero-text {
  width: 100%;
  position: absolute;
  padding: 7.5rem 0;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: -0.02em;
}

.lead {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

form {
  margin-bottom: 0;
}

.card-form {
  padding: 1.5rem;
}

.label-input1 {
  font-size: 12.25px;
  margin-bottom: 7px;
}

small {
  font-size: 10.5px;
  margin-top: 3.4px;
}

.button-form1 {
  padding: 0.6875rem 1.5rem;
  background-color: #02bb75;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.label-tnc-form1 {
  padding-top: 5px;
  font-size: 10.5px;
}

.term-condition {
  color: #4582ec;
}

@media only screen and (max-width: 767px) {
  .hero-section {
    height: 930px;
    width: 100%;
    position: relative;
  }

  .bg-hero {
    width: 100%;
    position: absolute;
    height: 100%;
  }

  .hero-text {
    width: 100%;
    position: absolute;
    padding: 7.5rem 0;
  }

  .display-3 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    letter-spacing: -0.02em;
  }

  .lead {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  form {
    margin-bottom: 0;
  }

  .colom-text {
    margin-bottom: 1.5rem;
  }

  .nav-ul-right {
    padding: 0;
  }
}

@media only screen and (max-width: 428px) {
  .hero-text {
    width: 100%;
    position: absolute;
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 992px) {
  .nav-ul-right {
    padding: 0;
  }
}
/* navvar css end */

/* intro section start*/
.intro-section {
  padding: 72px 0px;
}

.row1-intro {
  margin-bottom: 1.5rem;
}

.row2-intro {
  margin-top: 3rem;
}

.intro-span1 {
  margin: 0px 0px 24px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #adb5bd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.intro-h21 {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0px 0px 24px;
}

.intro-span2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: #495057;
}

.intro-image1 {
  position: relative;
}

.intro-image1-img {
  width: 100%;
  height: fit-content;
}

.button-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  cursor: pointer;
}

.button-intro-bg {
  background-color: white;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section-h6 {
  margin: 0 0 12px;
  color: #343a40;
  font-size: 1rem;
  font-weight: 500;
}

.intro-section-p {
  margin: 0 0 16px;
  color: #495057;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.intro-section-a {
  font-size: 0.875rem;
}

/* intro section end*/

/* workflow-section-start */
.workflow-section {
  padding: 72px 0px;
  border-top: 1px solid #e9ecef;
}

.row-welcome {
  margin-bottom: 48px;
}

.workflow-span-welcome {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 24px;
  font-weight: 500;
  color: #adb5bd;
}

.workflow-h2-greetly {
  margin-bottom: 24px;
}

.workflow-h2-greetly-h2 {
  font-size: 3.5rem !important;
  font-weight: 400;
  color: #343a40;
}

.workflow-span-anoppor {
  margin-bottom: 24px;
  font-size: 1.125rem;
}

.workflow-image {
  width: 100%;
  height: fit-content;
}

.card-workflow-ul {
  padding: 0;
}

.card-workflow-li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.card-workflow {
  border: 1px solid #e9ecef;
}

.card-workflow-2 {
  border: transparent;
  background-color: #f8f9fa;
}

.card-body-workflow {
  padding: 24px;
  background-color: white;
}

.card-body-workflow-2 {
  padding: 24px;
  background-color: transparent;
}
.card-body-workflow-bg {
  margin-right: 36px;
  display: flex;
  align-items: center;
}

.card-body-workflow-1 {
  font-size: 28px;
  width: 48px;
  height: 48px;
  background-color: #4582ec;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-icon-workflow-2 {
  font-size: 28px;
  width: 48px;
  height: 48px;
  background-color: #ced4da;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-body-workflow-h5 {
  margin-bottom: 12px;
  color: #343a40;
}

.card-body-workflow-span {
  color: #495057;
}

@media only screen and (max-width: 991px) {
  .card-workflow-text {
    margin-top: 48px;
  }
}
/* workflow-section-end */

/* synced-section-start */
.synced-section {
  background-color: white;
}

.synced-row {
  flex-direction: row-reverse;
}

.synced-col-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0px;
}

.synced-image-bg {
  width: 100%;
  height: 100%;
}

.synced-image-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.synced-title {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.synced-title-text {
  margin-bottom: 1.5rem;
}

.synced-title-text-span {
  color: #495057;
  font-weight: 400;
  font-size: 1.25rem;
}

.synced-hr-short {
  width: 3rem;
  margin: 1.5rem 0px;
  border-top: 1px solid #e9ecef !important;
  opacity: 100%;
}

.synced-ul {
  padding: 0;
}
.synced-li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.synced-li-text {
  display: flex;
  flex-direction: row;
}

.synced-li-icon {
  margin-right: 0.75rem !important;
}

.synced-li-title {
  margin-bottom: 0.75rem;
}

.synced-li-title-h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.synced-li-desc-p {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  color: #495057;
}

.synced-a-under-ul-a {
  font-size: 0.875rem;
  color: #4582ec;
}
/* synced-section-end */

/* aio-section-start */
.aio-section {
  background-color: white;
}

.aio-image-bg {
  width: 100%;
  height: 100%;
}

.aio-image-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aio-col-2 {
  padding: 6rem 0px;
}

.aio-col-2-1 {
  margin-left: auto;
  margin-right: auto;
}

.aio-col-2-1-title {
  margin-bottom: 1.5rem;
}

.aio-col-2-1-title-h3 {
  color: #343a40;
  letter-spacing: -0.02em;
  font-weight: 400;
  line-height: 3rem;
  font-size: 2.5rem;
}

.aio-col-2-1-desc {
  margin-bottom: 1.5rem;
}

.aio-col-2-1-desc-span {
  color: #495057;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 400;
}

.aio-hr {
  width: 3rem;
  margin: 1.5rem 0px;
  border-top: 1px solid #e9ecef !important;
  opacity: 100%;
}

.aio-ul {
  list-style: none;
  padding-left: 0;
}

.aio-ul-li {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.aio-ul-li-icon {
  margin-right: 12px;
}

.aio-ul-li-title {
  margin-bottom: 12px;
}

.aio-ul-li-title-h6 {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #343a40;
}

.aio-ul-li-p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #495057;
}

.aio-bottom-a {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  color: #4582EC;
}


/* aio-section-end */

/* casestudy-section-start */
.casestudy-section {
  padding: 4.5rem 0px;
}

.casestudy-card-image-img {
  width: 100%;
  height: 100%
}


/* casestudy-section-end */

/* dontwait-section-start */
.dontwait-section {
  background-color: white;
  padding: 4.5rem 0px;
}

.dontwait-row-1 {
  margin-bottom: 3rem;
}

.dontwait-title {
  text-align: center;
}
/* dontwait-section-end */

/* handy-section-start */
.handy-section {
  background: linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
}
/* handy-section-end */

/* footer-section-start */
.footer-section {
  background-color: #343a40;
  padding: 4.5rem 0 7.5rem 0;
}
/* footer-section-end */